<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dashboard.dao.mariadb.DataLpDAO">

    <select id="getTotalUsageFifteenMinute" parameterType="long" resultType="long">
    <![CDATA[
        SELECT round(IFNULL(SUM(dl.dFapDiff), 0) / 1000 / m.dValidInstrInteger, 0) AS totalUsage
        FROM aptho h
                 JOIN meter m ON h.nSeqMeter = m.nSeqMeter
                 JOIN sgp.data_lp dl ON m.Mid = dl.Mid
                 JOIN aptdong d ON h.nSeqAptDong = d.nSeqAptDong
                 JOIN site s ON d.nSeqSite = s.nSeqSite
        WHERE dl.dtDttmHI = #{dtDttmHI}
          AND s.bSysInstall = 1
            /*15분 전력 사용량 허용 범위*/
          AND dl.dFapDiff >= 0
          AND dl.dFapDiff / 1000 / m.dValidInstrInteger <= 2
        ]]>
</select>

</mapper>