<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dashboard.dao.clickhouse.DataLpClickHouseDAO">


    <select id="getTotalUsageFifteenMinute" resultType="java.lang.Long">

    </select>

    <select id="getHourlyUsage" parameterType="string" resultType="map">
        SELECT dlh.dtDttmH,
               ROUND(SUM(
                             CASE
                                 WHEN m.dValidInstrInteger IS NULL
                                     OR m.dValidInstrInteger = 0
                                     OR dlh.dFapDiff IS NULL
                                     OR dlh.dFapDiff = 0
                                     THEN 0
                                 ELSE dlh.dFapDiff / m.dValidInstrInteger
                                 END
                     ), 0) AS usage
        FROM data_lp5_hour dlh
            LEFT JOIN meter_tmp2 m
        ON dlh.mid = m.mid
        WHERE dlh.dtDttm = #{today}
        GROUP BY dlh.dtDttmH
        ORDER BY dlh.dtDttmH ASC
    </select>


    <select id="getUsageByRange" resultType="long">
        SELECT ROUND(SUM(
        CASE
        WHEN m.dValidInstrInteger IS NULL OR m.dValidInstrInteger = 0
        OR dld.dFapDiff IS NULL OR dld.dFapDiff = 0
        THEN 0
        ELSE dld.dFapDiff / m.dValidInstrInteger
        END
        ), 0) AS usage
        FROM data_lp5_day dld
        LEFT JOIN meter_tmp2 m ON dld.mid = m.mid
        WHERE 1 = 1
        <if test="startDate != null and endDate != null">
            AND dld.dtDttm BETWEEN #{startDate} AND #{endDate}
        </if>
    </select>


    <select id="getYearlyUsageByDay" resultType="map">
        SELECT
        dld.dtDttm,
        ROUND(SUM(
        CASE
        WHEN m.dValidInstrInteger IS NULL OR m.dValidInstrInteger = 0
        OR dld.dFapDiff IS NULL OR dld.dFapDiff = 0
        THEN 0
        ELSE dld.dFapDiff / m.dValidInstrInteger
        END
        ), 0) AS usage
        FROM
        data_lp5_day dld
        LEFT JOIN meter_tmp2 m
        ON dld.mid = m.mid
        WHERE 1 = 1
        AND dld.dtDttm >= #{thisYearStart}   <!-- ✅ 올해 1월 1일 값 적용 -->
        GROUP BY
        dld.dtDttm
        ORDER BY
        dld.dtDttm ASC
    </select>


</mapper>
