<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dashboard.dao.clickhouse.DataLpClickHouseDAO">


    <select id="getTotalUsageFifteenMinute" resultType="java.lang.Long">

    </select>

    <select id="getHourlyUsage" parameterType="string" resultType="map">
        SELECT dlh.dtDttmH,
               ROUND(SUM(
                             CASE
                                 WHEN m.dValidInstrInteger IS NULL
                                     OR m.dValidInstrInteger = 0
                                     OR dlh.dFapDiff IS NULL
                                     OR dlh.dFapDiff = 0
                                     THEN 0
                                 ELSE dlh.dFapDiff / m.dValidInstrInteger
                                 END
                     ), 0) AS usage
        FROM data_lp2_hour22 dlh
            LEFT JOIN meter_tmp2 m
        ON dlh.mid = m.mid
        WHERE dlh.dtDttm = #{today}
        GROUP BY dlh.dtDttmH
        ORDER BY dlh.dtDttmH ASC
    </select>


</mapper>
